@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #5044e5;
}

.reset-tw,
.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot {
  z-index: 10;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


::-webkit-scrollbar-track {
  background: #404040;
}

::-webkit-scrollbar-thumb{
  background-color: #111111;
}

::-webkit-scrollbar-button{
  display: none;
}

/* for Firefox */
*{
  scrollbar-track-color:black #404040;
  scrollbar-width: thin;
}